<section>
	<h3 id="about-me">About Myself</h3>
	<div class="face-lockup">
		<div class="face-img"><img src="../img/face.jpg"></div>
		
		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-video">{% include icons/icon-video.html %}</div>
		<div class="icon-computer">{% include icons/icon-computer.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		</div>
		
		<div class="blurb"><p><strong>Hello I'm Cliff.</strong> I am currently learning Web Design. While I may lack in experience I make up in knowledge and proffesionalism. I specialize in digital interfaces.I have a extensive knowledge of a serious of programming languages including Python, HTML5, CSS3, and many others.</p></div>
		
		<div class="skill-lockup clearfix">
		
			<div class="skill-unit">
				<div class="skill-label">Communication</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
		</div>		<div class="skill-unit">
				<div class="skill-label">Organization</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
		</div>		<div class="skill-unit">
				<div class="skill-label">Learning</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
		</div>		<div class="skill-unit">
				<div class="skill-label">Teaching</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span>
				</div>
		</div>		<div class="skill-unit">
				<div class="skill-label">Planning</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
		</div>		<div class="skill-unit">
				<div class="skill-label">VisualDesign</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
		</div>		<div class="skill-unit">
				<div class="skill-label">Design</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
		</div>		<div class="skill-unit">
				<div class="skill-label">Programming</div>
				<div class="skill-icon">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
		
		</div>
		</div>


</section>